
@charset "UTF-8";

* {
  /* CONFIGURAÇÕES GLOBAIS DO SITE */
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  
 
 
  /* a margin e o padding não se somam */
}

.layout__principal {
  min-width: 300px;
  max-width: 900px;
  margin: auto;
  background: linear-gradient(
    to bottom,
    rgb(3, 3, 4) 0%,
    rgb(18, 20, 83) 100%
  );
  padding: 30px;
  
}

.layout__cabecalho {
  padding: 20px;
  text-align: center;
  background: linear-gradient(to bottom, rgb(19, 19, 82) 0%, rgb(106, 101, 121) 100%);
}

.img {
  width: 30%;
  border-radius: 100%;

}

.layout__navegacao {
  text-align: right;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
a {
  margin-left: 20px;
  padding: 15px;
  background-color: rgba(87, 87, 121, 0.724);
  border-radius: 20px;
  text-decoration: none;
  color: white;
}
a:hover {
  background-color: white;
  text-decoration: underline;
  transition: 500ms ease-in-out;
  color: rgb(51, 50, 50);
}

.tituloPrincipal {
  text-align: right;
  font-family: "Courgette", cursive;
  color: white;
  margin-bottom: 50px;
  font-size: 2em;
  text-align: center;
  word-break: break-all;
  
}
.tituloBloco{
  font-size: 10px;
  color: white;
  margin: 100px;
  border-radius: 10px;
  background: linear-gradient(to bottom, #125b88, #0e1631);
 margin-right: 400px;
  
}

.bloco.sobre {
  font-size: 18px;
    color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(to bottom, #192831, #294089);
    border-radius: 80px;
    
  
}
.bloco.instrucao {
  font-size: 16px;
    color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(to bottom, #192831, #294089);
    border-radius: 80px;
  
}
.bloco.experiencia {
  font-size: 18px;
    color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(to bottom, #192831, #294089);
    border-radius: 80px;
  
}


.tituloBloco {
  display: inline-block;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: -20px;
 
}
@media (max-width: 800px) {
  .layout__navegacao {
    text-align: center; /* Centraliza os links */
    padding: 10px 0; /* Espaçamento menor */
    margin-bottom: 0;
  }
}
.tags{
  margin: 50px;
  margin-left: 15px;
  animation: slide 3s alternate infinite linear;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(20%);
  
  }
}
.tag{
margin-right: 29px;
}

footer {
  background-color: #3556c2;
  color: white; 
  padding: 20px 0; /* Espaçamento interno no footer */
  text-align: center; 
  margin-bottom: 50px;
  color: white;
  background: linear-gradient(to bottom, #192831, #3556c2);
  margin-bottom: -10px;
  margin-top: 150px;
  border-radius: 100px;
}
