
@charset "UTF-8";

* {
  /* CONFIGURAÇÕES GLOBAIS DO SITE */
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
 
  /* a margin e o padding não se somam */
}

.layout__principal {
  
  margin: auto;
  background: linear-gradient(to bottom, rgb(241, 241, 245) 0%, rgb(14, 20, 62) 40%);
  padding: 30px;
  
}

.layout__cabecalho {
  padding: 20px;
  text-align: center;
  background: linear-gradient(to bottom, rgb(241, 241, 245) 0%, rgb(14, 20, 62) 100%);
  
}

.img {
  width: 22%;
  border-radius: 100%;

}

.layout__navegacao {
  
  margin-right: 90%;
  display: inline;
  display: inline-block;
  

}
a {
  margin-left: 70px;
  padding: 15px;
  background-color: rgba(87, 87, 121, 0.724);
  border-radius: 20px;
  text-decoration: none;
  color: white;
  display: flex;
  box-shadow: inset 0 0 0 2px white;
  
}
a:hover {
  background-color: white;
  text-decoration: underline;
  transition: 500ms ease-in-out;
  color: rgb(51, 50, 50);
 
  
}

.tituloPrincipal {
  text-align: right;
  font-family: "Courgette", cursive;
  color: rgb(255, 255, 255);
  margin-bottom: 50px;
  font-size: 250%;
  text-align: center;
  -webkit-text-stroke: 0.01px rgb(54, 57, 124);
  font-size: 200%;
  
}
.tituloBloco{
  font-size: 15px;
  color: white;
  margin: 100px;
  border-radius: 10px;
  background: linear-gradient(to bottom, #125b88, #0e1631);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: -20px;
 
}
.tituloBlocoI{
  font-size: 15px;
  color: white;
  margin: 100px;
  border-radius: 10px;
  background: linear-gradient(to bottom, #125b88, #0e1631);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: -20px;
  text-align: right;
 
}


.bloco.sobre {
  font-size: 18px;
    color: white;
    margin: 00px;
    padding: 80px;
    border-radius: 10px;
    margin-top: 0px;
    background: linear-gradient(to bottom, #19283141, #293f8921);
    text-align: center;
    
    
  
}
.bloco.instrucao {
  font-size: 18px;
    color: white;
    margin: 00px;
    padding: 80px;
    border-radius: 10px;
    margin-top: 0px;
    background: linear-gradient(to bottom, #19283141, #293f8921);
    text-align: center;
  
}
.bloco.experiencia {
  font-size: 18px;
    color: white;
    margin: 00px;
    padding: 80px;
    border-radius: 10px;
    margin-top: 0px;
    background: linear-gradient(to bottom, #19283141, #293f8921);
    text-align: center;
  
}



@media (max-width: 800px) {
  .layout__navegacao {
    text-align: center; /* Centraliza os links */
    padding: 10px 0; /* Espaçamento menor */
    margin-bottom: 0;
  }
}
.tags{
  
 text-align: center;
  animation: slide 2s alternate infinite linear;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10%);
  
  }
}
.tag{
margin-right: 29px;

}

footer {
  background-color: #3556c2;
  color: white; 
  padding: 20px 0; /* Espaçamento interno no footer */
  text-align: center; 
  margin-bottom: 50px;
  color: white;
  background: linear-gradient(to bottom, #19283192, #3556c21f);
  margin-bottom: -10px;
  margin-top: 150px;
  border-radius: 100px;
}
#cena{
 opacity: 70%;
 margin-bottom: -174px;
 
}
#chapeu{
  opacity: 60%;
  margin-bottom: -180px;
  text-align: right;
  
 }
 #trabalho{
  opacity: 70%;
  margin-bottom: -180px;
 }
 #contato{
  font-size: 18px;
  color: white;
  margin: 10px;
  background: linear-gradient(to bottom, #125b88, #0e1631);
  border-radius: 20px;
  margin-bottom: 20px;

 }