
body{
  background-color: white;
  
}
.corpo{
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, rgb(5, 6, 12) 0%, rgb(187, 182, 203) 100%);
  margin-top: -10px;
 
}

img {
  border-radius: 100%;
  float: left;
margin-top: 30px;
  margin-left: 20px;  
}

h1 {
  color: white;
  font-size: 60px;
  font-family: "Courgette", cursive;
  padding-top: 50px;
  text-align: center;
  position: relative; 
}
a {
  background-color: rgb(93, 90, 103);
  color: #fff;
  padding: 15px;
  border-radius: 20px;
  text-decoration: none;
  display: inline;
  margin: 10px;
  margin-left: 60px;
  
}
a:hover{
  color: rgb(76, 40, 194);
  background-color: #fff;
  text-decoration: underline;
  transition: 500ms ease-in-out;
  
}
nav{
 
 margin-top: -50px;
 padding-top: 100px;
 margin: auto;
 
}
.sobre{
  margin-top: 200px;
  font-family: "Courgette", cursive;
}
@media(max-width:1200px){
  a{
    
  }
}





