@charset "UTF-8";

* {
   background-color: rgb(179, 174, 174);
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
   font-family: Arial, Helvetica, sans-serif;
}

.tituloPrincipal,
.tituloSecundario {
   color: rgb(224, 219, 219);
   text-align: center;
   font-size: 3em;
   margin-top: 10px;
}

.tituloSecundario {
   font-size: 2em;
}

p {
   font-style: italic;
}

footer,
span {
   text-align: center;
   background-color: black;
   color: white;
   padding: 10px 0;
   word-spacing: 15%;
   letter-spacing: 15%;
   margin-top: 20px;
}

.externo {
   text-decoration: none;
   color: white;
   background-color: black;
   font-weight: bold; 
   word-spacing: 15%;
   letter-spacing: 15%;
}

.externo:hover {
   text-decoration: underline;
   background-color: white;
   color: black;
   padding: 2px 4px;
   border-radius: 10px;
}

a.externo::after {
   content: ' 🔗';
}