body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    position: relative;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--whrite);
}

.navbar .navbar__content {
    padding: -5rem 4rem 1rem;
    display: flex;
    justify-content: space-between;
    background-color: #585858;
    font-style: italic;
}

.navbar .navbar__content .navbar__links li {
  display: inline-block;

}

.navbar .navbar__content .navbar__links li:not(:last-of-type){
    margin-right: 2rem;
}

.navbar .navbar__content .navbar__links a {
    padding: -1rem;
    display: inline-block;
    text-decoration: none;
    color: black;
    transition: 0.4s;
}

.navbar .navbar__content .navbar__links a:hover {
    color: var(--tertiary-color);
    transform: scale(1.2);
}
.apresentacao {
    margin-top: 2rem;

    
}
header {
    background-color: #333;
    color: #fff;
    text-align: right;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    scroll-snap-stop: 20rem;
    background-color: white;
}


header .header__left{
    max-width: 62rem;
    flex: 1;
    color: #0c0045;
}

 header.header__left p{
    margin-top: 2rem;
    margin-bottom: 4rem;
    max-width: 50rem;
 }

header .header__right .header__image{
    position: relative;
    line-height: 0;
}

header .header__right .header__image::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        border: 1px solid var(--tertiary-color);
        position: absolute;
        top: -1.5rem;
        right: -1.5rem;
        border-radius: 0.5rem;
        z-index: -1;

}

header .header__right .header__image .Roger{
    border-radius: 0.5rem;
    min-width: 25rem;
    max-width: 100%;
    position: relative;
    z-index: 3;

}

header .header__right .header__image .back{
    position: absolute;
    top: -4rem;
    right: 1.5rem;
    z-index: 2;
}
.about{
    display: contents;
    justify-content: space-between;
    gap: 2rem;
    scroll-margin-top: 20rem;
}

.about .about__left {
    max-width: 40rem;
    flex: 1;
}

.about .about__left p {
    margin: 1rem 0 2rem;
}

.about .about__left ul {
    margin-left: -1.2rem;
}
 
.about .about__left ul li{
    display: inline-block;
}
.about .about__left ul li a{
    display: inline-block;
    padding: 1rem;
}

.about .about__right {
    flex: 1;
    max-width: 66rem;
}

footer {
    background-color: #272727;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
